*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#fadbee;
    color:#333;
}


header{
    width:100%;
    padding:20px 50px;
    background:#ffffff;
    display: flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.05);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#111011;
}
.logo h2{
    color: orange;
}

nav a{
    margin-left:25px;
    text-decoration:none;
    font-size:16px;
    color:#444;
    transition:0.3s;
    padding:6px 12px;
    border-radius:6px;
}

nav a:hover{
    background:orange;
    color:#fff;
}


.hero{
    height: 85vh;
    background:url("./Icecrem/background\ image.png") center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:20px;
}

.hero-content h1{
    font-size: 2.2rem;
    color:#060f16;
    margin-bottom:10px;
    
}
.one{
    display: flex;
    gap: 20px;

}
.two{
    color: orange;
}


.hero-content p{
    font-size:18px;
    color:white;
    margin-bottom:20px;
}

.btn{
    background:orange;
    color:#fff;
    padding:12px 25px;
    border-radius:30px;
    font-size:16px;
    text-decoration:none;
    display:inline-block;
    transition:0.3s;
    font-weight: bold;
}

.btn:hover{
    background:white;
    color: purple;
}


section{
    padding:70px 50px;
}

section h1, section h2{
    text-align:center;
    color:orange;
    margin-bottom:20px;
}

.subtitle{
    text-align:center;
    color:#555;
    margin-bottom:40px;
}


.flavor-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:25px;
}

.flavor-card{
    background:#fff;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    text-align:center;
    transition:0.3s;
}

.flavor-card:hover{
    transform:translateY(-5px);
}

.flavor-card img{
    width:100%;
    height:170px;
    border-radius:12px;
    object-fit:cover;
}

.flavor-card h3{
    margin-top:10px;
}


.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.product-card{
    background:#fff;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    transition:0.35s ease;
    cursor: pointer;
}
.product-card:hover > :not(:hover){
    opacity: 0.3;
}
.product-card:hover{
   
    transform: scale(1.1);

}

.product-card img{
    width:100%;
    border-radius:12px;
    height:200px;
    object-fit:cover;
}

.price{
    display:block;
    margin:10px 0;
    font-weight:600;
    color:orange;
}

.buy-btn{
    background:orange;
    color:#fff;
    border:0;
    padding:10px 20px;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
}

.buy-btn:hover{
    background:#e6007a;
}
.offer-card:hover{
     transform:translatey(-5px);
}

.offer-grid{
    display:flex;
    justify-content: center;
    gap:100px;
}

.offer-card{
    background:#fff;
    padding:0 0 20px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    overflow:hidden;
    text-align:center;
    width: 300px;
    margin-left: 10px;
    margin-right:30px;
    gap:-80px;
    
}

.offer-card img{
    width:100%;
    height:200px;
    object-fit:cover;   
    border-bottom: 0;
}

.discount-tag{
    position:absolute;
    top:10px;
    left:10px;
    background:orange;
    color:#fff;
    padding:6px 12px;
    border-radius:8px;
    font-size:14px;
}

.offer-btn{
    background:orange;
    color:#fff;
    padding:10px 22px;
    border-radius:25px;
    border:none;
    cursor:pointer;
    margin-top:10px;
    transition:0.3s;
}

.offer-btn:hover{
    background:rgb(15, 15, 14);
}


.about-section p{
    max-width:700px;
    margin:0 auto 30px;
    text-align:center;
    color:#555;
}

.about-highlights{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.highlight{
    background:#ffffff;
    padding:15px 30px;
    border-radius:30px;
    color:orange;
    font-weight:600;
}

.contact-container{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
    justify-content:center;
}

.contact-form{
    width:320px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
}

.contact-form button{
    background:orange;
    color:#fff;
    padding:12px;
    border:0;
    border-radius:25px;
    cursor:pointer;
}
.contact-form button:hover{
    background-color: black;
}

.contact-info{
    width:320px;
    color:#444;
    line-height:1.8;
}

footer{
    text-align:center;
    padding:20px;
    background:orange;
    color:#fff;
    margin-top:40px;
}